# Client service
CLIENT_FORWARD_PORT=3000
CLIENT_PORT=80
CLIENT_SERVER_URL=http://localhost:8080/api/v1
CLIENT_DOCUMENT_URL=http://localhost:5321

# Document
DOCUMENT_FORWARD_PORT=5321
DOCUMENT_PORT=5321
DOCUMENT_SERVER_URL=http://localhost:8080/api/v1

# Application settings
APP_PORT=8080
APP_FORWARD_PORT=8080
APP_NAME=horizon-corp
APP_TOKEN=us13515FHWgcLuMVuX9O4odW8QkiKK7SSH9TA7IOeZZG0Oar4C8MwxYqAypmE8mqtlgRuGzUauGLxggOfZ4z33l1PrtGtVQw7kQmKA6B78cIgDTM5Hv7WI3skURSUyMs7xKY5c5XWltYGvp99PEyTbZoGzwyg
APP_ADMIN_TOKEN=BH3ltlZGO9ottVpOoePa9yS8w5UB1Ya7PmAhgQc5yuUAfxhszLrhTuaSy1qCxfY8dwg6cKPRbuiSV229UzwqDfT73VRTOTKqQMljJvvt3XVpAwWMqJughE7MxLPWY2uyplgVrB7HFbgxRzIFFJsiTTRRQWPef
APP_OWNER_TOKEN=UbalKzSSVdBTLsmm7w62GTMidT29CtYFBVQkZVfiV16iFMgwDP4fvLTtODaqTxoISZ0BuTaZq7J2z7xOa6kYJYBMWrj31Ty9Ic1h6DzHya47D1K8VvpYBJRfe0Fk39Ur4b41R9kwy4SOaTvvzcTKjBDZWoHmi
APP_EMPLOYEE_TOKEN=avxLmC7YqThBcto8Ex5lgm1DO7eAJzOdhFEoGuYX036JkjrFr4HGqoOsaGJ4h4ADvDlvV3bmYOqsPVX4D3xlV4DCQbg7IWr29OLalvdK8zbI1QStwkF9tPFSqUFKQD5G82S1Fj7y2F5S70D4vGFatma7AVMCD
APP_MEMBER_TOKEN=BU8w1bv3t9Bv3VlKsbYtWa4vWSUsh7xiYd7kJ1G2TIMuidcGjDJAj54oUUAz3uT8CEyx3rbyJDYf26peDRF7uTYRrTKlQRPeB2SSfGpiXIlgAq2H3VtCPoh6GvkgRoGmWDpjITm7c4wKZp6MOg938q0AmGiBe

# Logging level
LOG_LEVEL=debug

# Database configuration
DB_USERNAME=admin
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306
DB_NAME=local
DB_CHARSET=utf8mb4
DB_PARSE_TIME=true
DB_LOC=UTC

# Storage configuration
STORAGE_ENDPOINT=http://minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=password
STORAGE_BUCKET_NAME=local
STORAGE_MAX_FILE_SIZE=10MB