.table-toolbar-custom h1,
.table-toolbar-custom h2,
.table-toolbar-custom h3,
.table-toolbar-custom h4,
.table-toolbar-custom h5,
.table-toolbar-custom h6,
.table-toolbar-custom p,
.table-toolbar-custom a,
.table-toolbar-custom ul,
.table-toolbar-custom ol,
.table-toolbar-custom pre,
.table-toolbar-custom code,
.table-toolbar-custom strong,
.table-toolbar-custom listItem,
.table-toolbar-custom blockquote {
    @apply text-black dark:text-white;
}
.table-toolbar-custom {
    @apply !gap-5
}

.tiptap .page {
    @apply !border-[5px] 
}

.tiptap table td{
    @apply border-[5px] !border-red-500
}

.tiptap table tbody tr .selectedCell{
    @apply  bg-slate-50
}

.tiptap table tbody tr th p {
    @apply !p-0 !m-0
}
.tiptap table tbody tr td p {
    @apply !p-0 !m-0
}

.table-toolbar-custom code {
    @apply rounded bg-secondary/80 px-1 py-0.5 text-[0.95em] font-semibold;
}

.table-toolbar-custom pre {
    @apply overflow-x-auto rounded-lg bg-secondary/70 p-4;
}

.table-toolbar-custom pre code {
    @apply bg-transparent text-[0.9em] text-inherit;
}

.table-toolbar-custom {
    @apply prose p-0 w-screen max-w-full  h-full text-black font-sans focus:outline-none; 
}

.table th p {
 @apply px-2
}

.table col {
    @apply border
}

.table tr {
    @apply border-b-0 border-y-[.5px]
}

.table {
    @apply max-w-full
}


.tiptap:first-child {
    margin-top: 0;
}

/* Table-specific styling */
.tiptap table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}


.tiptap table td,
.tiptap table th {
    border: 1px solid var(--gray-3);
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
}

.tiptap table td > *,
.tiptap table th > * {
    margin-bottom: 0;
}

.tiptap table th {
    background-color: var(--gray-1);
    font-weight: bold;
    text-align: left;
}

.tiptap table .selectedCell:after {
    background: var(--gray-2);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.tiptap table .column-resize-handle {
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 1px;
    @apply bg-black/20
}

.tiptap .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
}

.tiptap.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.page-break {
  height: 20px;
  width: 100%;
  border-top: 1px dashed #ccc;
  margin: 10px 0;
}
